<div *ngIf='authService.logado() == true' class="ml-4 mt-4">
    <a href="" class="btn btn-1 btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Clique aqui para
        doar!</a>
</div>

<!-- Barra de pesquisa-->
<div class="container">

    <div class=" row d-flex ">
        <h3 class="justify-content-center searchText mb-3">Busque aqui os produtos que deseja:</h3>

        <div class="col-md-12  justify-content-center">
            <form class="form-inline ">
                <input [(ngModel)]="nomeProduto" (keyup)="findByNomeProduto()" class="form-control searchBar "
                    name="search" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-light "><i class="fas fa-search searchBox " aria-hidden="true"
                        href=""></i></button>

            </form>
            <div class="text-center justify-content-end mt-3">


                <a href="" class="btn btn-1 btn-rounded mb-4 ml-3" data-toggle="modal"
                    data-target="#modalLoginForm">Cadastrar
                    Categoria</a>

                <a href="" class="btn btn-1 btn-rounded mb-4 ml-3" data-toggle="modal"
                    data-target="#modalRegisterForm1">Cadastrar Produtos</a>

            </div>
        </div>
        <!-- card -->

        <div class="card-columns">
            <div class="card text-center mt-5" *ngFor='let item of listaProduto'>

                <!-- card -->


                <img src="{{item.foto}}" alt="Produto" class="img rounded ml-5 mt-5 mb-2" width="160px" >
                <h4>{{item.nome}}</h4>

                <!-- card info -->
                <div class="mt-3 info">
                    <span class="text1 d-block">{{item.descricao}}</span>
                    <!-- <span class="text1">Lorem ipsum dolor sit</span> -->
                </div>
                <div class="cost preco mt-4 text-dark">
                    <span>R${{item.preco}}</span>
                    <div class="star mt-3 align-items-center">


                        <a class="f1 mr-3" href="#" [routerLink]="['/produto-edit', item.id]" ><i
                                class=" ml-1 fa fa-pencil-square-o btn-hover" aria-hidden="true"></i> </a>
                        <a class="f1" href="#" [routerLink]="['/produto-delete', item.id]">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
                <div class="card-footer p-3 carrinho text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Adicionar o carrinho</span>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- <div class="row mt-3 mb-4">
    <div class="col d-flex justify-content-center">
        <button type="button" class="btn btn-primary mx-1 text-dark">Todos
        </button>
        <button type="button" class="btn btn-primary mx-1 text-dark">Eletrônicos</button>
        <button type="button" class="btn btn-primary mx-1 text-dark">Roupas</button>
        <button type="button" class="btn btn-primary mx-1 text-dark">Brinquedos</button>
    </div>
</div> -->

<!--Funções logadas -->
<div>
    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Doar produto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="form-group">
                        <label for="titulo">Nome do objeto</label>
                        <input name="titulo" type="text" class="form-control" id="titulo">
                    </div>

                    <div class="form-group">
                        <label for="foto">Foto do objeto</label>
                        <input name="foto" type="text" class="form-control" id="foto" placeholder="Link da foto">
                    </div>

                    <div class="form-group">
                        <label for="texto">Descrição</label>
                        <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="endereco">Endereço para a retirada</label>
                        <textarea class="form-control" name="endereco" id="endereco" rows="2"></textarea>
                    </div>
                    <p class="txt i">*Diponivel apenas para São paulo e regiões próximas</p>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-1" data-dismiss="modal" (click)='alert()'>Doar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]='categoria.produtos' name="nome" type="text" class="form-control" id="nome"
                            placeholder="Nome da categoria">
                    </div>

                    <!-- <div class="form-group">
                        <label for="tema">Edite, ou Delete uma categoria</label>
                        <select name="tema" id="tema" class="form-control">
                            <option>categoria</option>
                        </select>
                    </div>-->

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default" data-dismiss="modal"
                        (click)='cadastrarCategoria()'>Cadastrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalRegisterForm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Cadastrar produto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="form-group">
                        <label for="titulo">Nome do produto</label>
                        <input [(ngModel)]="produto.nome" name="titulo" type="text" class="form-control" id="titulo">
                    </div>

                    <div class="form-group">
                        <label for="foto">Foto do produto</label>
                        <input [(ngModel)]="produto.foto" name="foto" type="text" class="form-control" id="foto"
                            placeholder="Link da foto">
                    </div>

                    <div class="form-group">
                        <label for="preco">Preço do produto</label>
                        <input [(ngModel)]="produto.preco" name="preco" type="text" class="form-control" id="rpeco"
                            placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="texto">Descrição</label>
                        <textarea [(ngModel)]="produto.descricao" class="form-control" name="texto" id="texto"
                            rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="tema">Escolha uma categoria: </label>
                        <select class="form-control" name="categoria" id="categoria" [(ngModel)]="idCategoria"
                            (change)="findByIdCategoria()">
                            <option *ngFor="let item of listaCategorias" value="{{item.id}}">{{item.produtos}}
                            </option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-1" data-dismiss="modal" (click)='cadastrarProdutos()'>Cadastrar</button>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- Fim dos botão -->

<!--Modal e edição de produtos-->

<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Atualizar produto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="form-group">
                    <label for="titulo">Nome do produto</label>
                    <input [(ngModel)]="produto.nome"  name="titulo" type="text" class="form-control" id="titulo">
                </div>

                <div class="form-group">
                    <label for="foto">Foto do produto</label>
                    <input [(ngModel)]="produto.foto" name="foto" type="text" class="form-control" id="foto"
                        placeholder="Link da foto">
                </div>

                <div class="form-group">
                    <label for="preco">Preço do produto</label>
                    <input [(ngModel)]="produto.preco" name="preco" type="text" class="form-control" id="rpeco"
                        placeholder="">
                </div>

                <div class="form-group">
                    <label for="texto">Descrição</label>
                    <textarea [(ngModel)]="produto.descricao" class="form-control" name="texto" id="texto"
                        rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="tema">Escolha uma categoria: </label>
                    <select class="form-control" name="categoria" id="categoria" [(ngModel)]="idCategoria"
                        (change)="findByIdCategoria()">
                        <option *ngFor="let item of listaCategorias" value="{{item.id}}">{{item.produtos}}
                        </option>
                    </select>
                </div>

            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-danger mr-4" data-dismiss="modal" routerLink='/produto'>Cancelar</button>
                <button class="btn btn-success" data-dismiss="modal" (click)='atualizar()'>Atualizar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deletar produto </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você tem certeza que deseja apagar esse produto?</div>
                <div class="row mb-4">
                    <div class="col-md-12">
                         <h5 class="text-center text-primary">{{produto.nome}}</h5>
                        </div>
                    </div>
            <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-danger mr-4" data-dismiss="modal" routerLink='/produto'>Cancelar</button>
                <button class="btn btn-success" data-dismiss="modal" (click)='apagar()'>Apagar</button>
            </div>
        </div>
    </div>
</div>