<!-- Search form -->
<div class="container">

    <div class=" row d-flex ">
        <h3 class="justify-content-center searchText mb-3">Busque aqui os produtos que deseja:</h3>

        <div class="col-md-12  justify-content-center">
            <form class="form-inline ">
                <input class="form-control searchBar " name="search" type="search" placeholder="Search"
                    aria-label="Search">
                <button type="button" class="btn btn-light "><i class="fas fa-search searchBox " aria-hidden="true"
                        href=""></i></button>

            </form>
        </div>
    </div>
</div>

<!-- Botões cadastrar produto e categoria -->
<div *ngIf='authService.logado() == true'>
    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Doar produto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="form-group">
                        <label for="titulo">Nome do objeto</label>
                        <input name="titulo" type="text" class="form-control" id="titulo">
                    </div>

                    <div class="form-group">
                        <label for="foto">Foto do objeto</label>
                        <input name="foto" type="text" class="form-control" id="foto" placeholder="Link da foto">
                    </div>

                    <div class="form-group">
                        <label for="texto">Descrição</label>
                        <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="endereco">Endereço para a retirada</label>
                        <textarea class="form-control" name="endereco" id="endereco" rows="2"></textarea>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-1" data-dismiss="modal" (click)='alert()'>Doar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]='categoria.produtos' name="nome" type="text" class="form-control" id="nome"
                            placeholder="Nome da categoria">
                    </div>

                    <div class="form-group">
                        <label for="tema">Edite, ou Delete uma categoria</label>
                        <select name="tema" id="tema" class="form-control">
                            <option>categoria</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default" data-dismiss="modal"
                        (click)='cadastrarCategoria()'>Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim dos botões cadastrar -->



    <div class="text-center justify-content-end mt-5">
        <a href="" class="btn btn-1 btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Doe aqui!</a>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col text-center my-4">
            <h1 class="fs-2">Produtos</h1>
            <div class=""></div>
        </div>
    </div>

    <div class="row mt-3 mb-4">
        <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-primary mx-1 text-dark">Todos
            </button>
            <button type="button" class="btn btn-primary mx-1 text-dark">Eletrônicos</button>
            <button type="button" class="btn btn-primary mx-1 text-dark">Roupas</button>
            <button type="button" class="btn btn-primary mx-1 text-dark">Brinquedos</button>
        </div>
    </div>

    <div class="row justify-content-center g-4">
        <!-- card 1 -->
        <div class="col-md-3">
            <div class="card mt-3">
                <div class="product-1 align-items-center p-2 text-center">
                    <img routerLink="/compra"
                        src="https://gmedia.playstation.com/is/image/SIEPDC/ps4-slim-image-block-01-en-24jul20?$native--t$"
                        alt="" class="rounded" width="160">
                    <h4>Playstation</h4>

                    <!-- card info -->
                    <div class="mt-3 info">
                        <span class="text1 d-block">Lorem ipsum dolor sit</span>
                        <span class="text1">Lorem ipsum dolor sit</span>
                    </div>
                    <div class="cost preco mt-3 text-dark">
                        <span>R$1399,00</span>
                        <div class="star mt-3 align-items-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <!-- fim do card info -->
                </div>

                <!-- button dos cards -->

                <!-- Button trigger modal -->
                <div class="p-3 carrinho text-center text-white mt-3 cursor" >
                    <a href="#compra" class="text-uppercase">Comprar</a>
                </div>

               


            </div>
        </div>

        <!-- fim do card 1 -->

        <!-- card 2 -->
        <div class="col-md-3">
            <div class="card mt-3">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnySuCd5T0gt61RDq05MWfmyPMLlPotmPy6Q&usqp=CAU"
                        alt="" class="rounded" width="160">
                    <h4>Geladeira</h4>

                    <!-- card info -->
                    <div class="mt-3 info">
                        <span class="text1 d-block">Lorem ipsum dolor sit</span>
                        <span class="text1">Lorem ipsum dolor sit</span>
                    </div>
                    <div class="cost preco mt-3 text-dark">
                        <span>R$500,00</span>
                        <div class="star mt-3 align-items-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <!-- fim do card info -->
                </div>

                <!-- button dos cards -->

                <div class="p-3 carrinho text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Comprar</span>
                </div>
            </div>
        </div>

        <!-- fim do card 2 -->

        <!-- card 3 -->
        <div class="col-md-3">
            <div class="card mt-3">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtkOQI4JqygdQEYg-VPtF77MDxBUedu-Lu-A&usqp=CAU"
                        alt="" class="rounded" width="160">
                    <h4>Agasalho</h4>

                    <!-- card info -->
                    <div class="mt-3 info">
                        <span class="text1 d-block">Lorem ipsum dolor sit</span>
                        <span class="text1">Lorem ipsum dolor sit</span>
                    </div>
                    <div class="cost preco mt-3 text-dark">
                        <span>R$80,00</span>
                        <div class="star mt-3 align-items-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <!-- fim do card info -->
                </div>

                <!-- button dos cards -->

                <div class="p-3 carrinho text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Comprar</span>
                </div>
            </div>
        </div>

        <!-- fim do card 3 -->

        <!-- card 4 -->
        <div class="col-md-3">
            <div class="card mt-3">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtkOQI4JqygdQEYg-VPtF77MDxBUedu-Lu-A&usqp=CAU"
                        alt="" class="rounded" width="160">
                    <h4>Agasalho</h4>

                    <!-- card info -->
                    <div class="mt-3 info">
                        <span class="text1 d-block">Lorem ipsum dolor sit</span>
                        <span class="text1">Lorem ipsum dolor sit</span>
                    </div>
                    <div class="cost preco mt-3 text-dark">
                        <span>R$80,00</span>
                        <div class="star mt-3 align-items-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <!-- fim do card info -->
                </div>

                <!-- button dos cards -->

                <div class="p-3 carrinho text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Comprar</span>
                </div>
            </div>
        </div>

        <!-- fim do card 4 -->


        <!-- card 2 -->
        <div class="col-md-3">
            <div class="card mt-3">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnySuCd5T0gt61RDq05MWfmyPMLlPotmPy6Q&usqp=CAU"
                        alt="" class="rounded" width="160">
                    <h4>Geladeira</h4>

                    <!-- card info -->
                    <div class="mt-3 info">
                        <span class="text1 d-block">Lorem ipsum dolor sit</span>
                        <span class="text1">Lorem ipsum dolor sit</span>
                    </div>
                    <div class="cost preco mt-3 text-dark">
                        <span>R$500,00</span>
                        <div class="star mt-3 align-items-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <!-- fim do card info -->
                </div>

                <!-- button dos cards -->

                <div class="p-3 carrinho text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Adicionar o carrinho</span>
                </div>
            </div>
        </div>

        <!-- fim do card 2 -->

    </div>