<div class="bg"><div class="container mb-5 mt-5">
    <div class="row">

        <!-- card 1 -->
        <div class="col-md-3">
            <div class="card mt-3">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="https://gmedia.playstation.com/is/image/SIEPDC/ps4-slim-image-block-01-en-24jul20?$native--t$" alt="" class="rounded" width="160">
                    <h4>Playstation</h4>

                    <!-- card info -->
                    <div class="mt-3 info">
                        <span class="text1 d-block">Lorem ipsum dolor sit</span>
                        <span class="text1">Lorem ipsum dolor sit</span>
                    </div>
                    <div class="cost preco mt-3 text-dark">
                        <span>R$2300,00</span>
                        <div class="star mt-3 align-items-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <!-- fim do card info -->
                </div>

                <!-- button dos cards -->

                <div class="p-3 carrinho text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Adicionar o carrinho</span>
                </div>
            </div>
        </div>

        <!-- fim do card 1 -->

        <!-- card 2 -->
        <div class="col-md-3">
            <div class="card mt-3">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnySuCd5T0gt61RDq05MWfmyPMLlPotmPy6Q&usqp=CAU" alt="" class="rounded" width="160">
                    <h4>Geladeira</h4>

                    <!-- card info -->
                    <div class="mt-3 info">
                        <span class="text1 d-block">Lorem ipsum dolor sit</span>
                        <span class="text1">Lorem ipsum dolor sit</span>
                    </div>
                    <div class="cost preco mt-3 text-dark">
                        <span>R$500,00</span>
                        <div class="star mt-3 align-items-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <!-- fim do card info -->
                </div>

                <!-- button dos cards -->

                <div class="p-3 carrinho text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Adicionar o carrinho</span>
                </div>
            </div>
        </div>

        <!-- fim do card 2 -->

         <!-- card 3 -->
         <div class="col-md-3">
            <div class="card mt-3">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtkOQI4JqygdQEYg-VPtF77MDxBUedu-Lu-A&usqp=CAU" alt="" class="rounded" width="160">
                    <h4>Agasalho</h4>

                    <!-- card info -->
                    <div class="mt-3 info">
                        <span class="text1 d-block">Lorem ipsum dolor sit</span>
                        <span class="text1">Lorem ipsum dolor sit</span>
                    </div>
                    <div class="cost preco mt-3 text-dark">
                        <span>R$80,00</span>
                        <div class="star mt-3 align-items-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <!-- fim do card info -->
                </div>

                <!-- button dos cards -->

                <div class="p-3 carrinho text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Adicionar o carrinho</span>
                </div>
            </div>
        </div>

        <!-- fim do card 3 -->

         <!-- card 4 -->
         <div class="col-md-3">
            <div class="card mt-3">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtkOQI4JqygdQEYg-VPtF77MDxBUedu-Lu-A&usqp=CAU" alt="" class="rounded" width="160">
                    <h4>Agasalho</h4>

                    <!-- card info -->
                    <div class="mt-3 info">
                        <span class="text1 d-block">Lorem ipsum dolor sit</span>
                        <span class="text1">Lorem ipsum dolor sit</span>
                    </div>
                    <div class="cost preco mt-3 text-dark">
                        <span>R$80,00</span>
                        <div class="star mt-3 align-items-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <!-- fim do card info -->
                </div>

                <!-- button dos cards -->

                <div class="p-3 carrinho text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Adicionar o carrinho</span>
                </div>
            </div>
        </div>

        <!-- fim do card 4 -->
        

    </div>
</div>

 </div>