.mb-30 {
    margin-bottom: 50px;
}
.fundo {
    background-color: f6f3f7;
}

.input-icons i {
    position: absolute;
}
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
h2 {
    color: green;
}

.btn:focus{
    outline: none!important;
    box-shadow: none!important;
}

.btn-primary{
    background-color: #2c4b48!important;
    border: none;
}

.btn-1{
    background-color: #33cabb !important;
    border: none;
}

.btn-1:hover{
    background-color: #33cabb!important;
    border: none;
    color: white;
}

.btn-primary:hover{
    background-color: #33cabb!important;
    color: #f6f3f7!important;
} 