
<div class="container mt-5 fundo">
    <div class="container mt-5 fundo">

        <h1 class="mb-30">Entre em contato com a gente: </h1>
        <div class="row mt-2">

            <div class="col-md-6 align-items-center">
                <form style="max-width:450px;margin:auto">
                    <div class="form-group mt-5 input-icons">
                      <i class="fa fa-user-circle mt-1" aria-hidden="true">

                      </i> 
                      <label class="ml-4" for="exampleFormControlInput1"> Nome:</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Seu nome">
                    </div>


                    <div class="form-group mt-3 input-icons">
                      <i class="mt-1" aria-hidden="true">
                        <img src="https://i.imgur.com/pnCrdwe.png" width="17px"alt="">
                      </i>
                        <label class="ml-4 mt-1" for="exampleFormControlInput1">Email:</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>


                    <div class="form-group">
                      <i class="mt-1" aria-hidden="true">
                        <img src="https://i.imgur.com/HPXiRZk.png" width="17px"alt="">
                      </i>
                      <label class="ml-2" for="exampleFormControlTextarea1">Assunto:</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows=""></textarea>
                    </div>
                  </form>

            </div>
            <div class="col-md-6 align-items-center text-center">   
                <img src="https://i.imgur.com/xfPwHOQ.png" width="600px" alt="">
            </div>
        </div>
    </div>

