<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>

<body>
    <div class="container mt-5 fundo">
        <h1 class="mb-30">Entre em contato com a gente: </h1>
        <div class="row mt-2">

            <div class="col-md-6 align-items-center">
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Nome:</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="seu nome">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email:</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Assunto:</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </form>

            </div>
            <div class="col-md-6 align-items-center text-center">   
                <img src="../../assets/img/Stuck at Home - Home Office.png" width="600px" alt="">
            </div>
        </div>
    </div>

</body>

</html>