<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-2">
                <img src="https://i.imgur.com/MluVLCc.jpg" width="150px">
                <h2 class="heading-section">Projeto Vida</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-between">
            <div class="col">
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="col d-flex justify-content-end">
                <div class="social-media">
                    <p class="mb-0 d-flex ">
                        <button type="button" class="btn btn-outline-success">Login</button>
                        <button type="button" class="btn btn-outline-secondary ml-2">Cadastre-se</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <form action="#" class="searchform order-lg-last">
                <div class="form-group d-flex">
                  <input type="text" class="form-control pl-3" placeholder="Search">
                  <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
                </div>
              </form>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a href="#" class="nav-link">Início</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Seja um Voluntário</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="#">Inscreva-se aqui</a>
                            <a class="dropdown-item" href="#">Saiba mais</a>
                                                    </div>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Catálogo</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Sobre nós</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</section>