<!-- Rodape -->
<footer class="page-footer font-small mt-5 pt-4">

    <div class="container">

        <div class="row mt-5">

            <div class="col-md-12 d-flex justify-content-center">
        
                <img class="text-center logo mb-3" src="https://i.imgur.com/uAMvmpT.png?1" alt="">

            </div>

        </div>


    </div>

    <div class="footer-copyright bg-secondary text-center py-2 p fonte">
        <span class="text-light"> 2022 Criado através do Bootcamp: </span>
        <a href="text-light" target="_blank" href="https://brazil.generation.org/">brasil.generation.org</a>
        <p class="text-light">Visite nossos repositórios: 
            <a href="https://github.com/MaiarDarweesh/ProjetoIntegrador-FrontEnd" target="_blank">Front-End
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/MaiarDarweesh/ProjetoIntegrador" target="_blank" class="icoGithub backend">   Back-End
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </p>
    </div>

</footer>