<!-- Rodape -->
<footer class="page-footer font-small bg-secondary mt-5 pt-4">

    <div class="container">

        <div class="row">

            <div class="col-md-12 d-flex justify-content-center">
        
                <img class="text-center logo" src="https://i.imgur.com/uAMvmpT.png" alt="">

            </div>

        </div>


    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> 2022 Criado através do Bootcamp: </span>
        <a href="text-light" target="_blank" href="https://brazil.generation.org/">brasil.generation.org</a>
        <p class="text-light">Visite nosso repositório
            <a href="https://miichaels.github.io/Vikings-Miichaels/" target="_blank" class="icoGithub">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>

        </p>

    </div>

</footer>