<!--Rodapé-->
<footer class="bg-secondary text-white text-center text-lg-start mt-5">
    <!-- Grid container -->
    <div class="container p-3">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-md-0">
                <h5>Projeto Vida</h5>

                <p>
                    Sua doação pode ajudar várias pessoas necessitadas!
                    Nosso projeto foca nas necessidades básicas como alimentos, produtos de higiene e vestuário, porém,
                    toda
                    doação é bem-vinda e pode ser revertida em dinheiro por meio do nosso e-commerce.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mt-3">
                <h5 class="mt-2">Canais de Atendimento</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Whatsapp (11)4002-8922</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Equipe (11)4002-8922</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white"> </a>
                    </li>
                    <li>
                        <a href="#!" class="text-white"> </a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0"></h5>

                <ul class="list-unstyled">
                    
                </ul>

                <img class="text-center logo mb-3" src="https://i.imgur.com/uAMvmpT.png?1" alt="">
            </div>

            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 bg-dark">
        © 2022 Copyright: Projeto Vida -
        <a href="https://github.com/MaiarDarweesh/ProjetoIntegrador-FrontEnd" target="_blank">Front-End
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/MaiarDarweesh/ProjetoIntegrador" target="_blank" class="icoGithub backend"> Back-End
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </div>
    <!-- Copyright -->
</footer>
<!--/Rodapé-->