<div class="container">
  <div class="d-flex justify-content-center h-100 mt-5">
    <div class="card">
      <div class="card-header">
        <h3>Cadastro</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input [(ngModel)]='usuarioLogin.nome' name="nome" type="text" class="form-control"
              placeholder="Nome Completo">
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input [(ngModel)]='usuarioLogin.usuario' name="usuario" type="email" class="form-control"
              placeholder="E-mail">
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input [(ngModel)]='usuarioLogin.senha' name="password" type="password" class="form-control"
              placeholder="Senha">
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input (input)="confirmaSenha($event)" name="confirmpassword" type="password" class="form-control"
              placeholder="Confirme sua senha">
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox">Remember Me
          </div>

          <button type="submit" class="btn btn-success btn-lg mb-1">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

