<div class="back">

    <div id="team-area">


        <div class="row mt-4">

            <div class="col-12">
                <h3 class="main-title text-center">Nosso time</h3>
            </div>

        </div>

    </div>



    <!-- Time cards-->

    <div id="team-area">
        <div class="container">

            <div class="row mt-3">

                <div class="card ml-2" style="width: 13rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/HJydSF7.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Jéssica Prandini</h5>
                        <p class="card-text">Software Developer</p>
                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/jessicaprandini/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/jessicaprandini" target="_blank" class="icoGithub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="card ml-2" style="width: 13rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/1HbOL9i.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Michael Silva</h5>
                        <p class="card-text">Software Developer</p>

                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/miichaels/" target="_blank" class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/miichaels" target="_blank" class="icoGithub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

                <div class="card ml-2" style="width: 13rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/e84Seog.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Fernando Brocco</h5>
                        <p class="card-text">Software Developer</p>
                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/fernando-brocco/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/fh-brocco" target="_blank" class="icoGithub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="card ml-2" style="width: 13rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/ZyYzpUZ.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rafael Alves</h5>
                        <p class="card-text">Software Developer</p>
                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/rafael-domingos-alves-4b5194213/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/DoubleKang1" target="_blank" class="icoGithub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="card ml-2" style="width: 13rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/l8aPqts.jpg?2" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Thamiris Lisboa </h5>
                        <p class="card-text">Software Developer</p>
                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/thamiris-vieira-lisboa-02231621a/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/ThamirisLisboa" target="_blank" class="icoGithub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="card ml-2" style="width: 13rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/TVpBKIT.jpg?1" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Beatrice Kaku</h5>
                        <p class="card-text">Software Developer</p>
                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/beatrice-kaku/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/Kakubia" target="_blank" class="icoGithub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="card ml-2" style="width: 13rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/PLK20gp.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Maiar Darweesh</h5>
                        <p class="card-text">Software Developer</p>
                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/maiar-darweesh/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/MaiarDarweesh" target="_blank" class="icoGithub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="team-area">
        <div class="container">
            <h1 class="text-center mt-5">Nossos mestres:</h1>
            <div class="row mt-3 justify-content-center">

                <div class="card ml-2" style="width: 13rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/XwPBFh5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Prof° Anderson</h5>
                        <p class="card-text"></p>
                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/anderson-mendon%C3%A7a-de-abreu-11179a85/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/Anderson-Abreu" target="_blank" class="icoGithub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                
                <div class="card ml-5" style="width: 13rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/1sKbb8I.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Profª Jessica</h5>
                        <p class="card-text"></p>
                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/jessica-lopes-teodozio/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/JeskaLopes" target="_blank" class="icoGithub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                
                <div class="card ml-5" style="width: 13rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/jksvja2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Prof° Geandro</h5>
                        <p class="card-text"></p>
                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/geandro-ara%C3%BAjo-1b19881b4/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/geandrol" target="_blank" class="icoGithub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                
                <div class="card ml-5" style="width: 13rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/qzk1LBX.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Prof° Cesar</h5>
                        <p class="card-text"></p>
                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/cesar-augusto-bb4a3a235/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="mt-5 text-center">Agradecimentos aos apoiadores da Generation</h3>
            <div class="rotatingList">
                <div class="list">
                <div class="card2 card1"><img src="https://i.imgur.com/NG9JH2c.png" alt=""></div>
                <div class="card2 card2"><img src="https://i.imgur.com/1GEO0cJ.png" alt=""></div>
                <div class="card2 card3"><img src="https://i.imgur.com/LJali9o.png" alt=""></div>
                <div class="card2 card4"><img src="https://i.imgur.com/igwCxEE.png" alt=""></div>
                <div class="card2 card5"><img src="https://i.imgur.com/dMX8c7Z.png" alt=""></div>
                <div class="card2 card5"><img src="https://i.imgur.com/Ny8LlFe.png" alt=""></div>
                <div class="card2 card5"><img src="https://i.imgur.com/vEhkhdv.png" alt=""></div>
                <div class="card2 card5"><img src="https://i.imgur.com/X54nfGW.png" alt=""></div>
                <div class="card2 card5"><img src="https://i.imgur.com/S9QVnjk.png" alt=""></div>
                <div class="card2 card5"><img src="https://i.imgur.com/aZdjO4N.png" alt=""></div>
                <div class="card2 card5"><img src="https://i.imgur.com/SqSUw6N.png" alt=""></div>
                <div class="card2 card5"><img src="https://i.imgur.com/P0f0hCX.png" alt=""></div>
                <div class="card2 card5"><img src="https://i.imgur.com/TjzYJzT.png" alt=""></div>
                <div class="card2 card5"><img src="https://i.imgur.com/EEtOdMW.png" alt=""></div>


                </div>
            </div>
        </div>