<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="
                            https://i.imgur.com/HsDcmM2.png" alt="Primeiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="
                            https://i.imgur.com/jiPfDm4.png" alt="Segundo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="
                        https://i.imgur.com/DNOxfcv.png" alt="Terceiro Slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>

        <div class="col-md-4 mt-5 text-justify">

            <!-- Jumbotron -->
            <div class=" jumbotron-fluid bg-light">
                <div class="container">
                    <h5 class="">Descrição</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat nisi nobis
                        rerum
                        ullam officia quisquam, libero obcaecati voluptates eos temporibus, maiores eius porro
                        maxime
                        fugit
                        quis magnam, facere odio iusto?</p>

                    <div class="">
                        <div class="col-md-6">
                            <h6>Valor</h6>
                        </div>

                        <button class="btn btn-danger">Comprar</button>
                    </div>

                </div>
            </div>
            <!-- /Jumbotron -->

        </div>
    </div>
</div>