<nav class="navbar navbar-expand-lg">

    <img src="https://i.imgur.com/uAMvmpT.png" width="50px">
    <a href="#" class="navbar-brand ml-2">Projeto<b>Vida</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->

    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">

            <a href="#home" class="nav-item nav-link btn-hover">Home</a>

            <a href="#produtos" class="nav-item nav-link btn-hover">Loja</a>

            <a href="#contato" class="nav-item nav-link btn-hover">Contato</a>

            <a href="#sobre" class="dropdown-item btn-hover">Idealizadores</a>

            <a href="#sobre" class="dropdown-item btn-hover" data-toggle="modal" data-target="#modalExemplo">Saiba
                mais</a>

        </div>
    </div>

    <!-- Autenticação de usuário -->

    <div class="navbar-nav ml-auto action-buttons">

        <a *ngIf='authService.logado() == false' routerLink="/login" class="btn btn-primary sign-up-btn">Entrar</a>

            <a *ngIf='authService.logado() == true' (click)='sair()' routerLink='/home' id="sair">Sair <i class="fa fa-sign-out  btn-hover"                     aria-hidden="true"></i></a>
        </div>

    <!-- fim da Autenticação de usuário -->

</nav>








<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Projeto Vida</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body justify-text">

                <h3>Missão</h3>
                <p class="justify-text-">Apoiar crianças, jovens, mulheres e famílias em situação de vulnerabilidade
                    social ,
                    condicionando doações e
                    um direcionamento ao futuro atraves de cursos preparatorios profissionalizantes,
                    inserindo assim esse individuo a sociedade e
                    ao mercado de trabalho. </p>

                <h3>Visão</h3>
                <p> Ser reconhecida como instituição de promoção do desenvolvimento dos direitos basicos
                    de qualidade a todos,
                    afim de erradicar a linha de pobreza do nosso planeta e de oferecer acesso
                    democrático a bens culturais,
                    de educação, de moradia e de proteção à vida.</p>
                <h3>Valores</h3>
                <p>Agimos com propósito de preservação de valores familiares, fortalecimento de
                    vínculos, honestidade, transparência
                    e coerência em nossas ações e relações, abrangendo o respeito pela diversidade
                    social, cultural, ambiental e econômica.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>

</div>