<nav class="navbar navbar-expand-lg">
    <img src="https://i.imgur.com/uAMvmpT.png" width="70px">
    <a href="#" class="navbar-brand">Projeto<b>Vida</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">

            <a href="#home" class="nav-item nav-link btn-hover">Home</a>

            <a href="#produtos" class="nav-item nav-link btn-hover">Catálogo</a>

            <a href="#contato" class="nav-item nav-link btn-hover">Contato</a>

        </div>
        <div class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle btn-hover">O Projeto</a>
            <div class="dropdown-menu">

                <a href="#sobre" class="dropdown-item bt btn-hover">Idealizadores</a>
                <a href="#" class="dropdown-item btn-hover">Seja um Voluntário</a>
                <a href="#" class="dropdown-item btn-hover">Saiba mais</a>

            </div>
        </div>
        <div class="navbar-nav ml-auto action-buttons">
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4 btn-hover">Entrar</a>
                <div class="dropdown-menu action-form">
                    <form action="/examples/actions/confirmation.php" method="post">
                        <div class="form-group">
                            <input [(ngModel)]="usuarioLogin.usuario" type="text" class="form-control"
                                placeholder="Usuário" required="required">
                        </div>
                        <div class="form-group">
                            <input [(ngModel)]="usuarioLogin.senha" type="password" class="form-control"
                                placeholder="Senha" required="required">
                        </div>
                        <input (click)="entrar()" type="submit" class="btn btn-primary btn-block" value="Entrar">
                        <div class="text-center mt-2">
                            <a href="#">Esqueceu sua senha?</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn">Cadastre-se</a>
                <div class="dropdown-menu action-form">
                    <form action="/examples/actions/confirmation.php" method="post">
                        <p class="hint-text">Crie aqui a sua conta!</p>

                        <div class="form-group">
                            <input [(ngModel)]="usuario.nome" type="text" class="form-control" placeholder="Nome"
                                required="required">
                        </div>

                        <div class="form-group">
                            <input [(ngModel)]="usuario.usuario" type="text" class="form-control" placeholder="E-mail"
                                required="required">
                        </div>

                        <div class="form-group">
                            <input (input)="confirmaSenha($event)" type="password" class="form-control"
                                placeholder="Senha" required="required">
                        </div>
                        <div class="form-group">
                            <input [(ngModel)]="usuario.senha" type="password" class="form-control"
                                placeholder="Confirme sua senha" required="required">
                        </div>

                        <div class="form-group">
                            <label for="tipo">Tipo de usuário</label>
                            <select (change)="tipoUser($event)" class="form-control" name="tipo" id="tipo">
                                <option>Gostaria de ser voluntário?</option>
                                <option value="sim">Sim</option>
                                <option value="não">Não</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="form-check-label"><input type="checkbox" required="required"> Eu aceito os <a
                                    href="#">Termos &amp; Condições</a></label>
                        </div>
                        <input (click)="cadastrar()" type="submit" class="btn btn-primary btn-block" value="Cadastrar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>