
<div class="hero_area">
    <!-- slider section -->
    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        Nossos produtos
                                    </h1>
                                    <p>
                                        Produtos novos e usados.
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            Veja nosso catálogo!
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="https://i.imgur.com/UiTn7NP.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        Nossos Produtos
                                    </h1>
                                    <p>
                                        Produtos novos e usados.
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            Veja nosso catálogo!
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="https://i.imgur.com/8NJz0Mw.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        Veja nosso catálogo!
                                    </h1>
                                    <p>
                                        Produtos novos e usados.
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            Veja nosso catálogo!
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="https://i.imgur.com/Sx7f9RQ.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>

    </section>
    <!-- end slider section -->
</div>

<!-- shop section -->

<section class="shop_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Últimos produtos
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="https://i.imgur.com/UiTn7NP.jpeg" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Smartwatch
                            </h6>
                            <h6>
                                Price:
                                <span>
                                    $300
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                Featured
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="https://i.imgur.com/UiTn7NP.jpeg" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Smartwatch
                            </h6>
                            <h6>
                                Price:
                                <span>
                                    $125
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="https://i.imgur.com/UiTn7NP.jpeg" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Smartwatch
                            </h6>
                            <h6>
                                Price:
                                <span>
                                    $110
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="https://i.imgur.com/UiTn7NP.jpeg" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Smartwatch
                            </h6>
                            <h6>
                                Price:
                                <span>
                                    $145
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="https://i.imgur.com/UiTn7NP.jpeg" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Smartwatch
                            </h6>
                            <h6>
                                Price:
                                <span>
                                    $195
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6  col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="https://i.imgur.com/UiTn7NP.jpeg" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Smartwatch
                            </h6>
                            <h6>
                                Price:
                                <span>
                                    $170
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="https://i.imgur.com/UiTn7NP.jpeg" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Smartwatch
                            </h6>
                            <h6>
                                Price:
                                <span>
                                    $230
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                View All
            </a>
        </div>
    </div>
</section>

<!-- end shop section -->

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 col-lg-5 ">
                <div class="img-box">
                    <img src="images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Sobre nós
                        </h2>
                    </div>
                    <p>
                        Texto genérico
                    </p>
                    <a href="">
                        botão redireciona para pág sobre nós
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->

<!-- feature section -->

<section class="feature_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Procure por categoria
             </h2>
            <p>
                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="images/f1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Roupas
                        </h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        </p>
                        <a href="">
                            <span>
                                Read More
                            </span>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="images/f2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Brinquedos
                        </h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        </p>
                        <a href="">
                            <span>
                                Read More
                            </span>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="images/f3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Móveis
                        </h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        </p>
                        <a href="">
                            <span>
                                Read More
                            </span>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="images/f4.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Eletrênicos
                        </h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        </p>
                        <a href="">
                            <span>
                                Read More
                            </span>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                Botão redireciona para pág de produtos
            </a>
        </div>
    </div>
</section>

<!-- end feature section -->